<!-- *ngFor directive is being used to display all returned movies, where each movie is displayed in its own card
operates like for loop
"movies" refers to movies variable declared in the component file
{{}} - intropolation is used to get the value of objects property and implement it into string -->
<mat-card *ngFor="let movie of movies; let i=index;">
    <mat-dialog-content>
        <mat-card-title>{{movie.Title}}</mat-card-title>
        <mat-card-subtitle><img src={{movie.ImagePath}} /></mat-card-subtitle>
        <mat-card-content>{{movie.Description}}</mat-card-content>
    </mat-dialog-content>
</mat-card>