$backgroundColor: #0f120e;
$cardColor: #1a1d1a;
$buttonMainColor: #3c50fa;
$textColor: #fff;
$textSubtitleColor: #cbcaca;
$boxShadowColor: #4c4c4c;

.user-profile {
  flex-direction: column;
}

.top-container {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: 20px auto;
  margin-bottom: 0px;
  justify-content: space-between;
  align-items: center;
}
.delete-button {
  background-color: #e91e63 !important;
  color: $textColor !important;
}
.user-info-header {
  color: $textColor;

  font-family: "Poppins", sans-serif;
  font-size: larger;
}

mat-card-title {
  color: $buttonMainColor;
  margin-bottom: 20px;
}

mat-card {
//   width: 90%;
  margin: 20px auto;
  background-color: $cardColor;
  color: $textColor;
}

mat-card-content div {
  margin-bottom: 10px;
}

mat-card-content span {
  text-decoration: underline;
  text-underline-offset: 4px;
}
